<nav class="navbar bg-dark" data-bs-theme="dark">
    <div id='createnew'>
        <a href="{% url "createnew" %}">
            <button type="button" class="btn btn-light">Create New</button>
        </a>
    </div>
    <div id='index'> 
        <a href="{% url "index" %}">
            <button type="button" class="btn btn-light">IDs</button>
        </a>
    </div>
    <div id='groupchat'>
        <a href="{% url "groupchat" %}">
            <button type="button" class="btn btn-light">Group Chat</button>
        </a>
    </div>
    <div id='logout'>
        <a href="{% url "logout" %}">
            <button type="button" class="btn btn-light">Logout</button>
        </a> 
    </div>
</nav>








